@import "../../_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "resource";

.container-fluid .jumbotron {
  @include hbcp-jumbotron;
  background-image: url('/bundles/app/images/bg-allresources-header.png');

  &.behavioural-science {
    @include hbcp-jumbotron-behaviour;
  }

  &.computer-science {
    background-image: url('/bundles/app/images/bg-cs-header.png');
    .jumbotron-icon {
      width: 160px;
      margin-top: -52px;
    }
    @media (max-width: $screen-sm-min) {
      .jumbotron-icon {
        width: 110px;
        margin-top: -35px;
      }
    }
  }

  &.system-architecture {
    background-image: url('/bundles/app/images/bg-sa-header.png');
    .jumbotron-icon {
      width: 175px;
      margin-top: -50px;
    }
    @media (max-width: $screen-sm-min) {
      .jumbotron-icon {
        width: 110px;
        margin-top: -32px;
      }
    }
  }
}


.tabs-outer-container {
  padding-left: 25px;
  @media (max-width: $screen-tablet) {
    font-size: 14px;
    .nav > li > a {
      padding: 5px 10px;
    }
  }
  @media (min-width: $screen-desktop) {
    padding: 0 60px;
  }
}
.tabs-container {
  position: relative;
  .row {
    position: absolute;
    transform: translateY(-100%);
    .col-xs-12 {
      padding: 0;
      .nav-tabs.is-hero {
        border-bottom: 0;
        .nav-link {
          background: rgba($white, .85);
          border: 0;
          &.active,
          &:hover {
            background: $gray-bg-color
          }
        }
      }
    }
  }
}

.row-mobile-department {
  padding: 40px 0 20px;
}

.btn-filter-toggle {
  display: block;
  text-align: left;
  padding: 20px 15px;
  border-bottom: 2px solid $gray-border;
  .text-left {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      background: url('/bundles/app/images/mob-arrow-filter.svg') 50% 50% no-repeat;
      background-size: 100% auto;
      width: 22px;
      height: 16px;
      right: 15px;
      transition: 0.2s all;
      top: 50%;
      margin-top: -8px;
      pointer-events: none;
    }
  }
  &.collapsed {
    .text-left:after {
      transform: rotate(180deg);
    }
  }
}

.filter-collapse {
  @media (min-width: $screen-md-min) {
    display: block !important;
    height: auto !important;
  }
  @media (max-width: $screen-md-min) {
    border-bottom: 2px solid $gray-border;
  }
}

.filter-row {
  background: $gray-lighter;
  border: 1px solid $gray-border;
  border-left: 0;
  border-right: 0;
  padding: 30px 0;
  @media (max-width: $screen-md-min) {
    border: 0;
  }
}
.filter-row {
  .col-xs-12 {
    padding: 0;
  }
  .filter-label {
    font-weight: normal;
  }
}

.filter-row,
.row-mobile-department {
  .form-group {
    margin: 0;
    @media (max-width: $screen-md-min) {
      margin: 5px 0;
    }
  }
  .filter-label {
    @include tab-text;
    display: inline-block;
    margin: 0;
    padding-right: 5px;
    vertical-align: middle;

    @media (max-width: $screen-md-min) {
      font-size: 14px;
      width: 80px;
      text-align: right;
    }
  }
  .bootstrap-select.btn-group {
    .btn-default {
      color: $blue;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .dropdown-toggle .caret {
      border: 0;
      background: 50% 50% no-repeat;
      width: 26px;
      height: 18px;
      margin-top: -9px;
      right: 7px;
    }
    &.filter {
      .dropdown-toggle {
        padding-right: 40px;
        .caret {
          background-image: url('/bundles/app/images/icon-field-filter.svg') ;
          background-size: 20px auto;
        }
      }
    }
    &.order {
      .dropdown-toggle {
        padding-right: 35px;
        .caret {
          background-image: url('/bundles/app/images/icon-field-dropdown.svg');
          background-size: 14px auto;
        }
      }
    }
    @media (max-width: $screen-md-min) {
      .btn-default {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
      }
    }
  }
}

.resources-list {
  transition: opacity .3s;
  opacity: 1;
  backface-visibility: hidden;
  &.loading {
    opacity: 0.6;
  }
}

