@import "../../_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "resource";

.resource {
  &:nth-child(odd) {
    background: $gray-lighter;
  }
  &:nth-child(even) {
    background: transparent;
  }
}

.container-fluid .jumbotron {
  @include hbcp-jumbotron;
  background-image: url('/bundles/app/images/bg-bs-header.png');
  .jumbotron-icon {
    margin-top: -52px;
  }

  @media (max-width: $screen-sm-min) {
    .jumbotron-icon {
      margin-top: -34px;
    }
  }
}

.inline-block {
  display: inline-block;
}

.diagram-explain {
  background: url('/bundles/app/images/bs-explainbg.svg') 50% 50% no-repeat;
  background-size: contain;
  max-width: 329px;
  padding: 45px 0 50px;
  .inline-block {
    position: relative;
    width: 65%;
    min-width: 162px;
  }
  p {
    position: relative;
    width: 100%;
    color: $blue;
    font-size: 18px;
  }
  .btn-explain {
    @include hbcp-button;
    font-size: 14px;
    padding: 12px 20px;
    width: auto;
    min-width: 0;
  }
}

section.behaviour-diagram {
  padding: 60px 0 0;
  &.detailed {
    background: $gray-lighter;
    padding-bottom: 60px;
    margin-bottom: 40px;
    border-bottom: 1px solid $gray-light;
  }
  .diagram-info {
    font-size: 16px;
    .info-icon {
      width: 53px;
      margin-bottom: 10px;
    }
  }

  .diagram {
    .layout {
      width: 100%;
      max-width: 504px;
      position: relative;
      img {
        width: 100%;
        &.invisible {
          visibility: hidden;
        }
      }
      .items {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .item {
          position: absolute;
          line-height: 0;

          svg {
            width: 100%;
            a {
              position: relative;
              z-index: 1;
              .icon,
              .fill,
              .stroke{
                transition: fill .3s, stroke .3s;
              }
              &:hover,
              &.active {
                .icon {
                  fill: $white;
                }
                .fill {
                  fill: #000;
                }
              }
            }
          }

          &.behaviour {
            bottom: 0;
            right: 0;
            width: 33.1349206349206%;

            svg a {
              &:hover,
              &.active{
                .fill {
                  fill: $behaviour;
                }
                .stroke {
                  stroke: $behaviour;
                }
              }
            }
          }

          &.mechanisms {
            bottom: 0;
            right: 33.438%;
            width: 33.1349206349206%;

            svg a {
              &:hover,
              &.active {
                .fill {
                  fill: $mechanisms;
                }
                .stroke {
                  stroke: $mechanisms;
                }
              }
            }
          }

          &.intervention {
            bottom: 0;
            left: 0;
            width: 33.1349206349206%;

            svg a {
              &:hover,
              &.active {
                .fill {
                  fill: $intervention;
                }
                .stroke {
                  stroke: $intervention;
                }
              }
            }
          }

          &.context {
            bottom: 29.24%;
            left: 50.42%;
            width: 36.3095238095238%;

            svg a {
              &:hover,
              &.active {
                .fill {
                  fill: $context;
                }
                .stroke {
                  stroke: $context;
                }
              }
            }
          }

          &.exposure {
            bottom: 29.24%;
            right: 49.9%;
            width: 36.5079365079365%;

            svg a {
              &:hover,
              &.active {
                .fill {
                  fill: $exposure;
                }
                .stroke {
                  stroke: $exposure;
                }
              }
            }
          }

          &.outcome {
            top: 0;
            left: 27.85%;
            width: 45.0396825396825%;

            svg {
              a {
                z-index: 2;
                &:hover,
                &.active {
                  .fill {
                    fill: $outcome;
                  }
                  .stroke {
                    stroke: $outcome;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

section.select-label {
  margin: 25px 0 100px;
  p {
    display: inline-block;
    color: $blue;
    font-size: 21px;
    max-width: 420px;
    &:before {
      content: '';
      display: inline-block;
      background: url('/bundles/app/images/bs-arrow.svg') 50% 50% no-repeat;
      background-size: auto 100%;
      width: 100%;
      height: 36px;
      margin-bottom: 5px;
    }
  }
}

section.resources {
  margin-top: 20px;
  margin-bottom: 100px;
  .resource-header {
    margin-bottom: 40px;
    h2 {
      color: $blue;
      font-size: 26px;
      font-weight: 400;
    }
    p {
      display: inline-block;
      position: relative;
      margin-top: 20px;
      max-width: 800px;
      width: 100%;
      padding: 0 80px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: -34px;
        width: 61px;
        height: 48px;
        background: 50% 50% no-repeat;
        background-size: 100% auto;
      }
      &:before {
        background-image: url('/bundles/app/images/bs-quote-left.svg');
        left: 10px;
      }
      &:after {
        background-image: url('/bundles/app/images/bs-quote-right.svg');
        right: 10px;
      }
    }
  }
  .nav-tabs {
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      a {
        border: none;
        font-size: 20px;
        color: rgba($blue, .5);
        padding: 5px 40px;
        &:hover,
        &:active,
        &:focus {
          color: $blue;
        }
      }
      &.active {
        border-bottom: 4px solid $hbcp-blue;
        a {
          border: none;
          color: $blue;
        }
      }
    }
  }

  .behaviour-category {
    .header {
      border-bottom: 4px solid $gray-lighter;
      .col-xs-12 {
        position: relative;
        min-height: 40px;
        h4 {
          color: $blue;
          font-weight: normal;
          font-size: 21px;
          margin-top: 30px;
        }
        .expander {
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -20px;
          width: 40px;
          height: 40px;
          background: url('/bundles/app/images/icon-showless.svg') 50% 50% no-repeat;
          background-size: 100% 100%;
          &.collapsed {
            background-image: url('/bundles/app/images/icon-showmore.svg');
          }
        }
      }
    }
  }
}

.btn-explain.back {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 8%;
    top: 0;
    height: 100%;
    background: url('/bundles/app/images/arrow-back-white.svg') 0 50% no-repeat;
    width: 15px;
  }
}

section.explain-diagram {
  h2,
  h3 {
    font-weight: normal;
    color: $blue;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 21px;
    margin-bottom: 0;
  }
  .row-diagram-explain {
    margin: 30px auto 60px;
  }
}
