@import "../../_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.container-fluid .jumbotron {
  @include hbcp-jumbotron;
  background-image: url('/bundles/app/images/bg-contact-header.png');
  .jumbotron-icon {
    width: 102px;
    margin-top: -52px;
  }
  @media (max-width: $screen-sm-min) {
    .jumbotron-icon {
      width: 68px;
      margin-top: -34px;
    }
  }
}

.contact-us-section {
  padding: 50px 0 60px;
  text-align: center;
  &:nth-child(even) {
    background-color: $gray-lighter;
  }
  img {
    max-width: 100px;
  }
  h2 {
    color: $blue;
    font-size: 28px;
    margin-top: 0;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    margin: 15px;
  }
  .contact-btn {
    background-color: $res-btn-color;
    color: $white;
    padding: 10px 20px;
    position: relative;
    box-shadow: 0 5px 0 0 $btn-shadow;
    border: none;
    min-width: 250px;
    margin: 10px 0;
    &:hover {
      background: rgb(139, 195, 243);
      color: $white;
    }
  }
  @media(max-width: $screen-sm-min) {
    img {
      max-width: 80px;
      max-height: 50px;
    }
    .news-img {
      img {
        max-height: 30px;
      }
    }
    h2 {
      font-size: 21px;
      margin-top: 10px;
    }
  }
}
