.behaviour-diagram-2{
	img {
	    max-width: 100%;
	}
	.outcome-img{
			p{
	            padding: 0px 20px;
			    font-weight: 400;
			    font-size: 18px;
			    margin-top: 90px;
			    color: $color-blue;
			    line-height: 25px;

			    margin-bottom: 50px;
			    position:relative;
			    &:before{
			    	content: "";
				    background-image: url(../images/bs-arrow.svg);
				    position: absolute;
				    background-size: cover;
				    width: 38px;
				    top: -50px;
				    height: 36px;
				    left: 0;
				    margin: 0 auto;
				    right: 0;
			    }
		}
	}
	.explain-button{
			background: url(../images/bs-explainbg.svg);
		    background-repeat: no-repeat;
		    background-position: center;
		    padding: 46px;
		    background-size: 100% 100%;
		p{
	            padding: 0px 20px;
			    font-weight: 400;
			    font-size: 18px;
			    margin-top: 0;
			    max-width: 266px;
			    margin: 0 auto;
			    color: $color-blue;
			    line-height: 25px;
			    margin-bottom: 20px;
		}
	}
	.diagram-visaul{
			.res-btn{background-color: $res-btn-color; color:$color-white; padding: 10px 20px; position:relative; border:none; min-width: 160px;
					    margin: 10px 0 50px; display:none;
				    &:before{content: ""; position: absolute; background-color:$btn-shadow; bottom:-5px; left:0; right:0; top:0; z-index: -1; border-radius:4px}
				}
		p{
		        padding: 0 20px;
		        /* padding-left: 100px; */
		        font-weight: 400;
		        font-size: 16px;
		        line-height: 25px;
		        margin-top: 20px;
		}   
	}
}
.about-diagram{
	background:$light-grey;
	border-top: 1px solid $border-color;
	padding:50px 0;
	h3,h2{
		color: $color-blue;
	}
	p{   font-size: 13px;
	 }
	 
 	.resource-button{
		background: url(../images/bs-explainbg.svg);
		    background-repeat: no-repeat;
		    background-position: center;
		    padding: 46px;
		        margin: 60px 0 40px;
		    background-size: contain;
		p{
	            padding: 0px 10px;
			    font-weight: 400;
			    font-size: 18px;
			    margin-top: 0;
			    max-width: 266px;
			    margin: 0 auto;
			    color: $color-blue;
			    line-height: 25px;
			    margin-bottom: 20px;
		}
		.btn{background-color: $res-btn-color; color:$color-white; padding: 10px 20px; position:relative; border:none; min-width: 160px;box-shadow: 0px 5px 0px 0px $btn-shadow;
	    &:before{content: ""; position: absolute; background-color:$btn-shadow; bottom:-5px; left:0; right:0; top:0; z-index: -1; border-radius:4px;
	    
	    }
	}
	 }
	  
}
@media(max-width:991px){
	.behaviour-diagram-2{
		.diagram-visaul{
			p{
				padding: 0 0px !important;
				font-size:13px;
			}
		}
		.explain-button{
			p{
				padding: 0 0px !important;
				font-size:15px;
			}
		}
		.outcome-img{
			p{
				padding: 0 0px !important;
				font-size:15px;
			}
		}
	}
}