@import "../../_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.container-fluid .jumbotron {
  @include hbcp-jumbotron;
  background-image: url(/bundles/app/images/bg-news-header.png);
  .jumbotron-icon {
    margin-top: -52px;
  }
  @media (max-width: $screen-sm-min) {
    .jumbotron-icon {
      margin-top: -34px;
    }
  }
}

.latest-news-section {
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  padding: 30px 0 55px;
  &:nth-child(even) {
    background: $gray-lighter;
  }
  .news-img {
    text-align: center;
    img {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      border-radius: 0;
    }
  }
  .news-detail {
    h2 {
      color: $blue;
      font-size: 26px;
      font-weight: normal;
      margin: 0;
    }
    p.sub-heading {
      margin-top: 10px;
      font-size: 18px;
      color: $blue;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin: 15px 0;
    }
  }
}

@media(max-width: 768px) {
  .latest-news-section {
    text-align: center;
  }
}