.slider-6{
	@extend .slider;
	background-image:url(../images/bg-contact-header.png) !important;	
	    background-position: 100%;
    background-size: cover;
}
.contact-us-section{
	padding:50px 0 60px;
	text-align:center;
		img{
			max-width:100px;
		}
		h2{
			color:$color-blue;
			font-size:28px;
		}
		
		
		p{
			font-size:16px;
			line-height: 20px;
    		margin: 15px;
		}
		
		.contact-btn{
			    background-color:$res-btn-color;
			    color: $color-white;
			    padding: 10px 20px;
			    position: relative;
			    box-shadow: 0px 5px 0px 0px $btn-shadow;
			    border: none;
			    min-width: 250px;
			    margin:10px 0;
			      &:hover{
			         background:rgb(139, 195, 243);
			         color:$color-white;
			        }
			
		}
		.read-more{
			font-size:14px;
			color:$color-blue;
		}

}
@media(max-width:768px){
	.latest-news-section{
		text-align:center;
	}	
}