.pad-0 {
  padding: 0;
}

.slider-2 {
  @extend .slider;
  background-image: url(../images/bg-bs-header.png) !important;
  background-position: 100%;
  background-size: cover;

  h2 {
    span {
    }
  }
}

.panel-body:nth-child(even) {
  background: $white !important;
}

.overlay-inline {
  display: inline-block !important;
}

.behaviour-diagram {
  padding: 60px 0 20px;

  .btn {
    background-color: $hbcp-blue;
    color: $white;
    padding: 10px 20px;
    position: relative;
    border: none;
    box-shadow: 0 5px 0 0 $btn-shadow;
    transition: 0.5s all;
    &:hover {
      background: $btn-hover;
    }
    &:before {
      content: "";
      position: absolute;
      background-color: $btn-shadow;
      bottom: -5px;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      border-radius: 4px
    }

    img {
      margin-right: 3px;
    }
  }
  .outcome-img {

  }
  .explain-button {
    background: url(../images/bs-explainbg.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 46px;
    background-size: 100% 100%;
    p {
      padding: 0 48px;
      font-weight: 400;
      font-size: 18px;
      margin-top: 0;
      max-width: 266px;
      margin: 0 auto;
      color: $blue;
      line-height: 25px;
      margin-bottom: 20px;
    }
  }
  .diagram-visaul {
    .res-btn {
      background-color: $hbcp-blue;
      color: $white;
      padding: 10px 20px;
      position: relative;
      border: none;
      min-width: 160px;
      transition: 0.5s all;
      &:hover {
        background: $btn-hover;
      }
      margin: 10px 0 50px;
      display: none;
      &:before {
        content: "";
        position: absolute;
        background-color: $btn-shadow;
        bottom: -5px;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        border-radius: 4px
      }
    }
    p {
      padding: 0 50px;
      /* padding-left: 100px; */
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      margin-top: 20px;
    }
  }
}

.arrow-up {
  padding: 0 48px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 90px;
  color: $blue;
  line-height: 25px;

  margin-bottom: 50px;
  position: relative;
  &:before {
    content: "";
    background-image: url(../images/bs-arrow.svg);
    position: absolute;
    background-size: cover;
    width: 38px;
    top: -50px;
    height: 36px;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
}

@media(max-width: 1200px) {
  .behaviour-diagram {
    .btn {
      padding: 7px 8px;
      font-size: 11px;
    }
    .diagram-visaul {
      p {
        padding: 0 10px !important;
        font-size: 13px;
      }
    }
    .explain-button {
      p {
        padding: 0 0 !important;
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 1.1;
      }
    }
    .outcome-img {
      p {
        padding: 0 10px !important;
        font-size: 15px;
      }
    }
  }
}

@media(max-width: 991px) {
  .behaviour-diagram {
    .btn {
      padding: 7px 8px;
      font-size: 11px;
    }
    .diagram-visaul {
      p {
        padding: 0 10px !important;
        font-size: 13px;
      }
    }
    .explain-button {
      p {
        padding: 0 0 !important;
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 1.1;
      }
    }
    .outcome-img {
      p {
        padding: 0 10px !important;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .diagram-visaul {
    .res-btn {
      display: inline-block !important;
    }
  }
  .explain-button {
    display: none;
  }
}

.triangle-part {
  float: left;
  padding: 20px 0;
}

.inner-tri {
  float: left;
  width: 100%;
  text-align: center;
}

.inner-tri span.out-come {
  display: inline-block;
  width: auto;
}

.ex-porse {
  display: inline-block;
  width: auto;
}

.middle-pic {
  float: left;
  width: 100%;
  position: relative;
  top: -25px;
}

.inner-tri-ex {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 1px;
}

.inner-tri-context {
  float: left;
  width: 50%;
  text-align: left;
}

.inner-tri-inter {
  float: left;
  width: 36.4%;
  text-align: right;
}

.inner-tri-mech {
  float: left;
  width: 27%;
  text-align: center;
}

.inner-tri-beh {
  float: left;
  width: 36%;
  text-align: left;
}

.bottom-pic {
  float: left;
  width: 100%;
  position: relative;
  top: -24px;
}

.shadow-box {
  float: left;
  width: 100%;
  position: relative;
}

.out-come a, .ex-porse a {
  display: inline-block;
  position: relative;
}

.out-come a .overlay-1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  display: none;
}

.out-come a:hover .overlay-1, .out-come a:focus .overlay-1, .out-come a:active .overlay-1 {
  display: inline;
}

.shadow-box::after {
  background-image: none;
  background-repeat: no-repeat;;
  height: 380px;
  left: 50%;
  position: absolute;
  top: -5px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  width: 516px;
  z-index: -1;
}

@media(min-width: 992px) and (max-width: 1199px) {
  .inner-tri-inter {
    width: 36%;
  }
  .inner-tri-mech {
    width: 27%;
  }
  .inner-tri-beh {
    width: 30%;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .inner-tri-inter {
    width: 38%;
  }
  .inner-tri-mech {
    width: 23%;
  }
}

@media(max-width: 767px) {
  .layer, .overlay-1 {
    width: 160px;
  }
  .out-top .layer, .out-top .overlay-1 {
    width: 200px;
  }
  .middle-pic {
    top: -23px;
  }
  .inner-tri-inter {
    width: 39.7%;
  }
  .inner-tri-inter .layer, .inner-tri-mech .layer {
    width: 144px;
  }
  .inner-tri-inter .overlay-1, .inner-tri-mech .overlay-1 {
    width: 144px;
  }
  .inner-tri-mech {
    width: 19.7%;
  }
  .inner-tri-beh {
    width: 30.5%;
  }
  .inner-tri-beh .layer, .inner-tri-beh .overlay-1 {
    width: 144px;
  }
  .shadow-box::after {
    display: none;
  }
}

@media(max-width: 680px) {
  .inner-tri-mech {
    width: 22%;
  }
  .inner-tri-inter {
    width: 38.5%;
  }

}

@media(max-width: 640px) {
  .inner-tri-mech {
    width: 23%;
  }
  .inner-tri-inter {
    width: 38%;
  }

}

@media(max-width: 600px) {
  .inner-tri-inter {
    width: 42.5%;
  }
  .out-top .layer, .out-top .overlay-1 {
    width: 120px;
  }
  .ex-porse .layer, .ex-porse .overlay-1 {
    width: 97px;
  }
  .inner-tri-inter .layer, .inner-tri-inter .overlay-1, .inner-tri-mech .layer, .inner-tri-mech .overlay-1 {
    width: 88px;
  }
  .inner-tri-beh .layer, .inner-tri-beh .overlay-1 {
    width: 88px;
    margin-left: 15px;
  }
  .bottom-pic {
    top: -13px;
  }
  .middle-pic {
    top: -14px;
  }
  .inner-tri-mech.out-come a .layer {
    position: relative;
    left: 0;
    z-index: 999;
  }
  .inner-tri-mech.out-come a .overlay-1 {
    left: 0;
    z-index: 999;
  }
  .inner-tri-mech {
    width: 12.5%;
  }
  .inner-tri-inter {
    width: 42.5%;
  }
}

@media(min-width: 991px) and (max-width: 1200px) {

  .bottom-pic {
    position: relative;
    top: -23px;
  }
  .inner-tri-mech {
    width: 27%;
    position: relative;
    right: 4%;
  }
  .inner-tri-inter {
    position: relative;
    right: 4%;
  }
  .inner-tri-beh {
    width: 30%;
    position: relative;
    right: -3.5%;
  }
}

@media(min-width: 768px) and (max-width: 990px) {
  .inner-tri-inter {
    position: relative;
    right: 17%;
  }
  .inner-tri-mech {
    position: relative;
    right: 11%;

  }
  .inner-tri-beh {
    position: relative;
    right: -10.5%;
  }
}

@media(max-width: 580px) {
  .inner-tri-mech {
    width: 13%;
  }
  .inner-tri-inter {
    width: 42%;
  }
}

@media(max-width: 520px) {
  .inner-tri-mech {
    width: 14.5%;
  }
  .inner-tri-inter {
    width: 41%;
  }
}

@media(max-width: 480px) {
  .inner-tri-mech {
    width: 15.5%;
  }
  .inner-tri-inter {
    width: 40.7%;
  }
}

@media(max-width: 440px) {
  .inner-tri-mech {
    width: 17.5%;
  }
  .inner-tri-inter {
    width: 39%;
  }
}

@media(max-width: 400px) {
  .inner-tri-mech {
    width: 19.5%;
  }
  .inner-tri-inter {
    width: 38%;
  }
}

@media(max-width: 340px) {
  .inner-tri-inter {
    width: 35.7%;
  }
  .inner-tri-mech {
    width: 23.5%;
  }
}

