@import "../../_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.container-fluid .jumbotron {
  @include hbcp-jumbotron;
  background-image: url(/bundles/app/images/bg-home-header.png);
}

.logo-bar {
  padding: 15px 0;
  border-bottom: 1px solid $border-color;
  img {
    max-width: 100%;
  }
}

.block-feature {
  p {
    margin-left: 0;
  }
  &.light {
    background: $gray-lighter;
  }
}

.block-bottom {
  overflow: hidden;
  .custom-block {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    &.team:before,
    &.news:before {
      content: "";
      position: absolute;
    }
    &.team:before {
      right: 100%;
      margin-right: -180px;
      top: -220px;
      background: url(/bundles/app/images/homeicon-teambg.svg) 0 0 no-repeat;
      background-size: 100% auto;
      width: 582px;
      height: 582px;
      @media (max-width: $screen-xs-max) {
        right: auto;
        left: 0;
        top: -100px;
        width: 291px;
        height: 291px;
      }
    }
    &.news:before {
      left: 100%;
      top: 70px;
      background: url(/bundles/app/images/homeicon-newsbg.svg) 0 0 no-repeat;
      background-size: 100% auto;
      width: 718px;
      height: 608px;
      margin-left: -200px;
      @media (max-width: $screen-xs-max) {
        top: 130px;
        width: 359px;
        height: 304px;
      }
    }
  }

}

.block-3 {
  .bg-icon {
    &:before {
      /*    content: url(images/homeicon-team.svg);*/
      left: 0;
      top: 0;
      position: relative;
      transform: scale(5);
    }

  }
  .custom-block.bg-icon-2 {
    position: relative;
    &:after {
      background: url(/bundles/app/images/homeicon-newsbg.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      /* background-color: white; */
      content: "";
      position: absolute;
      padding: 30%;
      right: -66%;
      bottom: -22%;
      display: inline-block;
      /* padding: 167px; */
    }
  }

}

.bg-img {
  background: url(/bundles/app/images/homeicon-team-bg.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: white;
  overflow: hidden;
}



@media (max-width: 1280px) {
  .slider {
    padding: 80px 50px;
    padding-right: 35%;
    h2 {
    }
    p {
      padding-right: 100px;
      font-weight: 300;
      margin-top: 20px;
    }
  }
  .logo-bar {
    padding: 15px;
  }
}

/*
@media(max-width: 1200px) {
  .slider {
    padding: 50px 50px;
    h2 {
      font-size: 25px;
    }
  }
}

@media(max-width: 1200px) {
  .slider {
    padding: 30px 50px;
    h2 {
      font-size: 22px;
    }
  }
}

@media (max-width: 800px) {
  .slider {
    padding: 50px 25px;
    padding-right: 35%;
    h2 {
    }
    p {
      padding-right: 50px;
      font-weight: 300;
      margin-top: 20px;
    }
  }
  .logo-bar {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .bg-img {
    background-position: top center;
    background-size: 60%;
    .custom-block.bg-icon-2 {
      position: relative;
      &:after {

        padding: 20%;
        right: -6% !important;
        bottom: -22%;
      }
    }
  }
  .block {
    h2 {
      font-size: 22px !important;
    }
    img {
      max-width: 60%;
    }
  }
  .slider {
    background-image: none;
    padding: 0;
    h2 {
      font-size: 22px;
      background-color: $slider-bg;
      background-image: linear-gradient(-14deg, rgba(55, 123, 187, .86), rgba(1, 69, 155, .86));
      padding: 35px 40px;
      margin: 0;
      span {
        width: 82%;
        display: inline-block;
        vertical-align: middle
      }
      img {
        display: inline-block !important;
        width: 70px;
      }
    }
    p {
      background-color: $p-bg;
      background-image: linear-gradient(to top, $frst-gradient-color, $scnd-gradient-color);
      margin-top: 0;
      margin-bottom: 0;
      padding: 30px 40px;
    }
    .pad-0 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .logo-bar {
    padding: 15px;
  }
  .block {
    .col-sm-6 {
      text-align: center
    }

  }
}

@media (max-width: 600px) {
  .slider {
    background-image: none;
    padding: 0;
    h2 {
      font-size: 22px;
      padding: 35px 15px;
      margin: 0;
      span {
        width: 82%;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
      }
      img {
        width: 70px
      }
    }
    p {
      padding: 15px;
      font-size: 13px;
    }
  }

}

@media (max-width: 474px) {
  .slider {
    background-image: none;
    padding: 0;
    h2 {
      font-size: 22px;
      padding: 35px 15px;
      margin: 0;
      span {
        width: 72%;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
      }
      img {
        width: 70px
      }
    }
    p {
      padding: 15px;
      font-size: 13px;
    }
  }
}
*/