.slider-4 {

  background-image: url(../images/bg-team-header.png) !important;
  background-position: 100%;
  background-size: cover;
}

.project-team-section {
  padding: 30px 0 55px;
  .team-member {
    text-align: center;
    img {
      max-width: 180px;
      width: 100%;
      margin: 0 auto;
      border-radius: 50%;
      margin-top: 20px;
    }
  }
  .member-detail {
    h2 {
      color: $color-blue;
      font-size: 24px;
    }
    p.sub-heading {
      font-size: 20px;
      color: $color-blue;
    }
    span {
      font-size: 12px;
      color: $border-bottom-color;
      display: inline-block;
      margin-bottom: 20px;
      &:before {
        content: "";
        background: url(../images/team-website.svg);
        background-size: 100% 100%;
        background-size: 100% 100%;
        padding: 7px;
        margin: 0 6px 0 0;
        background-repeat: no-repeat;
        height: 17px;
        width: 17px;
        display: inline-block;
        padding: 0;
        position: relative;
        top: 5px;
      }
    }
    p {
      font-size: 16px;
    }
    .read-more {
      font-size: 14px;
      color: $color-blue;
      background: none;
      border: none;
      &:hover {
        color: $read-more-color;
      }
    }
  }
}

@media(max-width: 768px) {
  .project-team-section {
    text-align: center;
  }
}