/*****************************
Header-style
*****************************/
.nav > li > a:hover, .nav > li > a:focus{background-color: transparent;color:#3f93da;}
.header{ background-color:#ffffff; -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2); padding: 15px;
	.navbar{ margin-bottom: 0;
        .navbar-header{
            .navbar-brand{height:auto; padding:0;padding-top: 5px; }
        }
        .navbar-collapse.in{
            position:absolute;
                top:64px;
                left:0;
                right:0;
                background:#fff;
                border-top: 1px solid #9b9b9b;
                z-index:999;
        }
        .navbar-collapse{

            .navbar-nav{


                li{
                    a{color: #6b6b6b; padding-top:50px; font-size:16px;
                        &:hover{color:#3f93da;
                                background-color: transparent !important;
                        }
                        &:focus{color:#3f93da;
                            background-color: transparent !important;}
                    }
                    &.active{
                        a{color:#3f93da;}
                    }
                }
            }
        }
    }
	
}
    .blue-m{
        display:none;
    }
.blue{
    .navbar-toggle{
        color: #0f78d1 !important;
        border-color: #0f78d1 !important;
         }
    li{
        .blue-m{
            display: inline-block !important;

        }
        .black-m{
            display:none;
        }
    }
   
}
@media  (max-width:1280px) and (min-width:981px) {
    .header{
        .navbar{
            .navbar-header{ width:30%;
                .navbar-brand{
                    img{max-width:100%}
                }
            }
            .navbar-collapse{ width:70%; display: inline-block !important;
                .navbar-nav{ 
                    li{ 
                        a{ padding-top:40px; padding-bottom: 20px}
                    }
                }
            }
        }
    } 
}
@media (max-width:980px) and (min-width:768px) {
    .header{
        .navbar{
            .navbar-header{ width:25%;
                .navbar-brand{
                    img{max-width:100%;
                        padding-top: 5px;

                    }
                }
            }
            .navbar-collapse{ width:75%; display: inline-block !important;
                .navbar-nav{ 
                    li{ 
                        a{ padding-top:29px; padding-bottom: 15px; font-size: 14px; padding-left: 7px; padding-right: 7px;}
                    }
                }
            }
        }
    } 
}
@media (min-width:320px) and (max-width:767px) {
    .header{
        .navbar{
        .navbar-collapse{
                position:absolute;
                top:64px;
                left:0;
                right:0;
                background:#fff;
                height:auto !important;
                .navbar-nav{
                        li{
                            a{
                                color:rgba(63, 147, 218, 0.58);
                            }
                        }
                    }
                }
            .navbar-header{
                .navbar-brand{
                    padding-top: 0px;
                    .logo_height{max-width:220px;}
                }
                .navbar-toggle{border:1px solid #4a4a4a; margin-top:0px;
                    .blue-menu{
                        display:none;
                    }
                    &:focus{
                        .black-menu{
                            display:none;
                        }
                        .blue-menu{
                            display:block;
                        }
                    }
                    ul{margin:0;
                        li{ 
                            img{width:20px;}
                        }
                        
                    }
                    
                }
            }
            .navbar-collapse{
                .navbar-nav{ float:none !important; text-align: center;
                    li{ float: none; display:block;
                        a{ padding-top:15px; padding-bottom: 15px; text-align: center;}
                    }
                }
            }
        }
    } 
}
@media (max-width:400px) {
    .header{
        .navbar{
            .navbar-header{
                .navbar-brand{
                    .logo_height{max-width:170px;}
                }
            }
        }
    } 
}