@import "../../_variables";

.contact {
  background-image: url('/bundles/app/images/bg-footer.png');
  background-size: cover;
  z-index: 1;
  position: relative;
  .contact-block {
    max-width: 640px;
    width: 100%;
    margin: auto;
    color: $white;
    .btn {
      @include hbcp-button;
      background-color: $white;
      color: $hbcp-blue;
    }
    h2 {
      color: $white;
    }
  }
}

.footer {
  .footer-links {
    padding: 20px 5px;
    margin: 0;
    li {
      padding: 0;
      position: relative;
      vertical-align: bottom;
      &:last-child {
        &:after {
          content: none;
        }
      }
      &:after {
        content: " . ";
        color: $hbcp-blue;
      }
      a {
        color: $hbcp-blue;
        font-size: 14px;
      }
    }
    li::last-child {
      position: relative;
      margin-right: 5px;
      padding-right: 15px;
      vertical-align: bottom;

    }
  }
  .bottom-footer {
    .row {
      margin: 0;
      .col-sm-4 {
        padding: 0;
        &:not(.text-center) {
          padding-top: 15px;
        }
      }
    }
    padding-bottom: 15px;
    color: $pale-blue;
    font-size: 12px;
    @media (max-width: $screen-xs-min) {
      font-size: 10px;
    }
  }
}
