@import "../../_variables";

.contact.block {
  background-color: $hbcp-blue;
  z-index: 1;
  position: relative;
  color: $white;
  .container-fluid {
    max-width: none;
  }
  .btn {
    @include hbcp-button;
    background-color: $white;
    color: $hbcp-blue;
    font-size: 14px;
    padding: 6px 10px;
    min-width: 120px;
    margin-top: .5rem;
  }
  a {
    color: $white;
    margin: 3px 0;
    display: inline-block;
    &.twitter,
    &.open-science {
      padding-left: 30px;
      background: 0 50% no-repeat;
      background-size: auto 100%;
    }
    &.twitter {
      background-image: url('/bundles/app/images/logo-footer-twitter.svg');
    }
    &.open-science {
      background-image: url('/bundles/app/images/logo-footer-osf.svg');
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  p,
  h4 {
    margin: 0;
    line-height: 25px;
  }
  @media (max-width: $screen-md-min) {
    .text-left,
    .text-right {
      text-align: center !important;
    }
    .text-right {
      margin-top: .5rem;
    }
  }
}

.container-website .footer {
  .container-fluid {
    max-width: none;
    padding: 15px;
    color: $pale-blue;
    font-size: 12px;
    line-height: 38px;
    @media (max-width: $screen-xs-min) {
      font-size: 10px;
    }
    a {
      color: inherit;
    }

    .sponsor-logos {
      height: 38px;
    }

    @media (max-width: $screen-md-min) {
      .text-left,
      .text-right {
        text-align: center !important;
      }
      .text-right {
        margin-top: .5rem;
      }

      .sponsor-logos {
        width: 100%;
        max-width: 380px;
        height: auto;
      }
    }
  }
}
