<section class="jumbotron">
  <div class="jumbotron-valign">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 jumbotron-text">
          <h2 class="jumbotron-header">
            <span>{{ header }}</span>
            <img class="jumbotron-icon hidden visible-sm visible-xs"
                 src="{{ asset(icon) }}"
                 alt="{{ icon_alt }}"
            />
          </h2>
          <p class="jumbotron-info">
            {{ text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>