<div class="diagram text-center">
  <div class="layout inline-block">
    <img src="{{ asset('/bundles/app/images/_Final layout.png') }}" alt="Behavioural Science Diagram Placeholder" class="invisible" />
    <div class="items">
      {% include 'frontend/triangle/_outcome.html.twig' with {href: '#' } %} {#category_path('outcome', 'behavioural_science')#}
      {% include 'frontend/triangle/_exposure.html.twig' with {href: '#' } %} {#category_path('exposure', 'behavioural_science')#}
      {% include 'frontend/triangle/_context.html.twig' with {href: '#' } %} {#category_path('context', 'behavioural_science')#}
      {% include 'frontend/triangle/_intervention.html.twig' with {href: '#' } %} {#category_path('intervention', 'behavioural_science')#}
      {% include 'frontend/triangle/_mechanisms.html.twig' with {href: '#' } %} {#category_path('mechanisms', 'behavioural_science')#}
      {% include 'frontend/triangle/_behaviour.html.twig' with {href: '#' } %} {#category_path('behaviour', 'behavioural_science')#}
    </div>
  </div>
</div>
