{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/behaviour.style.css') }}" />
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'icon': 'bundles/app/images/homegraphic-bc.png',
  'icon_alt': 'Behavioural Science',
  'header': 'Behavioural Science',
  'text': 'The Human Behaviour Change Project is a collaboration between world leading institution to create and
            develop a Machine Learning Programme that can analyse and literature and no more text'
  } %}

  <section class="behaviour-diagram">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-3 text-center diagram-info">
          <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="Info info - lower case 'i'" class="info-icon" />
          <p>
            This Diagram is a visualisation of the flow of some to something else to <span class="inline-block">produce an outcome.</span>
          </p>
        </div>
        <div class="col-md-6 triangle">
          {% include 'frontend/behaviourtriangle.html.twig' %}
        </div>
        <div class="col-md-3 text-center diagram-explain">
          <div class="inline-block">
            <p>What to know more about this diagram?</p>
            <a href="{{ path('behavioural_science_explain') }}" class="btn btn-block btn-explain">
              Explain Diagram
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="select-label text-center">
    <p>Select section of the Diagram to show the associated resources</p>
  </section>
{% endblock %}