<div class="diagram text-center">
  <div class="layout inline-block">
    <img src="{{ asset('/bundles/app/images/_Final layout.png') }}" alt="Behavioural Science Diagram Placeholder" />
    <div class="items">
      {% include 'frontend/triangle/_outcome.html.twig' %}
      {% include 'frontend/triangle/_exposure.html.twig' %}
      {% include 'frontend/triangle/_context.html.twig' %}
      {% include 'frontend/triangle/_intervention.html.twig' %}
      {% include 'frontend/triangle/_mechanisms.html.twig' %}
      {% include 'frontend/triangle/_behaviour.html.twig' %}
    </div>
  </div>
</div>
