@import "components/_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-select/sass/bootstrap-select";
@import "components/tools/tools";
@import "components/theme/theme";

body, html {
  min-width: 320px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray;
}

.Roboto-c {
  font-family: 'Roboto Condensed', sans-serif;
}

.container-website {
  max-width: 1500px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  .container-fluid {
    max-width: 1280px;
  }
}

.block {
  padding: 50px 0;
  border-bottom: 1px solid $border-color;
  .container {
    max-width: 900px;
  }
  .spacer {
    height: 60px;
    float: left;
    width: 100%
  }
  p {
    font-size: 16px;
    margin: 20px 15px;
  }
  .btn {
    @include hbcp-button;
    min-width: 250px;
  }
  h2 {
    color: $blue;
    font-weight: normal;
  }
  img {
    max-width: 100%;
  }
}
