<h2>What?</h2>
<p>The behavioural science team is developing an ontology specific to behaviour change interventions – the Behaviour Change Intervention Ontology (BCIO). The BCIO is a set of definitions for entities and relationships used to describe behaviour change interventions, their contexts, effects and evaluations.  It is being used to structure the evidence in intervention evaluation reports and provides a structured framework to underpin the training of the system. Computer scientists use the resulting data structure to create algorithms which can gather and synthesise relevant information from research reports more rapidly than current methods for systematic reviewing allow.</p>
<h2>How?</h2>
<p>The BCIO structures knowledge about the intervention and its evaluation. Developing the ontology involves a combination of reviewing, refining and extending existing relevant ontologies and taxonomies (such as the Behaviour Change Techniques Taxonomy (BCTTv1)), consultation with ontology experts, and peer review from, and discussions with, international behaviour change experts.</p>
<p>Central to the ontology development process is the annotation of behaviour change intervention evaluation reports according to the developing BCIO. Pairs of researchers annotate papers using specialist systematic review software (EPPI Reviewer).  Annotated data are checked for discrepancies between annotators to reveal ambiguities, omissions and problems with definitions. Terms are added or modified and definitions iteratively refined until a well-functioning set is achieved. The project’s ontology expert is consulted at strategic time-points.</p>

<h2>The Upper Level of the BCIO</h2>
<p>A visual representation of the upper level of the BCIO intervention entities is shown below. Each section of the triangle represents an upper-level ontology entity, organised to demonstrate the relationships between them.</p>

<section class="diagram detailed" id="diagram">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-12 triangle">
        <div class="diagram text-center">
          <div class="layout inline-block">
            <img src="{{ asset('bundles/app/images/bs-diagramdetailed-2.jpeg') }}" alt="Behavioural Science Detailed Diagram" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
