<h2>What?</h2>

<p>The System Architecture team is working to develop user and machine interfaces for the ‘Knowledge System’. This will facilitate a flow of information from ‘data sources’ (e.g. online publications databases such as PubMed, Mendeley, CrossRef etc) through ‘backend processes’, including the information extraction (e.g., the extraction of structured data from PDFs) and inference processes, i.e., prediction and recommendation algorithms, developed by the computer science team, through to ‘services’, which include a website allowing human users to query the system.</p>

<h2>How?</h2>

<p>Research papers pulled in from data sources are classified using Machine Learning classifiers according to their domain and, if relevant to behaviour change, they enter a workflow whereby the full text of publications are retrieved and sent to the Machine Learning and information extraction services developed by the computer science team. The inference algorithms developed by the computer science team will operate over an increasingly large dataset, their predictions and recommendations changing and updating in line with the new data. The data is stored in the study database ready for: a) researchers to use in systematic reviews; b) users to interact with through the HBCP web portal; or c) use in guideline creation software, such as MAGICApp, or other connected services, for example Cochrane’s information systems.</p>

<p>The BCIO will be a central framework for the system, aligned with other relevant ontologies – such as The National Institute for Health and Care Excellence (NICE) ‘participant characteristics ontology’ and Cochrane’s ‘PICO ontology’ - to ensure compatibility and facilitate data sharing.</p>

<p>The systematic review software, EPPI-Reviewer, is being modified to support the behavioural science team in manually extracting information from research papers, and to enable the BCIO to be developed and maintained.</p>
