/*****************************
--------------------------
Block-level-style 
(Header-footer)
--------------------------
*****************************/
@import "blocks/theme.header";
@import "blocks/theme.footer";
/*****************************
--------------------------
Inner-page-style
--------------------------
*****************************/
//@import "pages/theme.home";
//@import "pages/theme.behavioural-science";
//@import "pages/theme.behavioural-science-2";
//@import "pages/theme.behavioural-science-3";
//@import "pages/theme.Computer-science";
//@import "pages/theme.grant-holders-and-project-team";
//@import "pages/theme.latest-news";
//@import "pages/theme.contact-us";
//@import "pages/theme.sa";
//@import "pages/theme.all-resources";
//@import "pages/theme.news-article";
//@import "pages/theme.detail-page";

body, html {
  min-width: 320px;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray;
}

.Roboto-c {
  font-family: 'Roboto Condensed', sans-serif;
}

.row.no-gutters {
  margin-right:0;
  margin-left:0;
}
.row.no-gutters > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.container-website {
  max-width: 1500px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  .container-fluid {
    max-width: 1280px;
  }
}

.jumbotron + .block {
  border-top: 1px solid $border-color;
}

.block {
  padding: 50px 0;
  border-bottom: 1px solid $border-color;
  .container {
    max-width: 900px;
  }
  .spacer {
    height: 60px;
    float: left;
    width: 100%
  }
  p {
    font-size: 16px;
    margin: 20px 15px;
  }
  .btn {
    @include hbcp-button;
    min-width: 250px;
  }
  h2 {
    color: $blue;
    font-weight: normal;
    &:first-child {
      margin-top: 0;
    }
  }
  img {
    max-width: 100%;
  }
  @media (max-width: $screen-sm-min) {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 15px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .mt-md-0 {
    margin-top: 0;
  }
}

.mt-0 {
  margin-top: 0;
}

.nav-tabs {
  border: 0;
  border-bottom: 1px solid $gray-border;
  padding: 30px 0;
  li {
    border: none;
    float: none;
    display: inline-block;
    margin: 0 25px;
    a {
      @include tab-text;
      border: 0 !important;
      &:hover {
        background: none;
      }
    }
  }
  li.active {
    border-bottom: 2px solid $blue;
    a {
      color: $blue !important;
    }
  }
}

.block-feature {
  p {
    margin-left: 0;
    margin-right: 0;
  }
}
