///Colors-variables///
$drop-heading: #6d6868;
$drop-txt-color: #4a90e2;
$slider-bg: #00619c;
$read-more-color: #0c66b3;
$border-bottom-color: #9b9b9b;
$border-solid-color: #d2d2d2;
$api-btn-color: #f3f3f3;
$btn-hover: #8bc3f3;
$btn-bg: #377bbb;
$color-lightblue: #316eb4;
$border-color: #ccc;
$light-black: #333333;
$border-panel-color: #ddd;
$grey-bg-color: #fafafa;
$light-grey: #FDFDFD;
$btn-shadow: #01459b;
$res-btn-color: #377bbb;
$color-blue: #0f78d1;
$p-bg: #175aa7;
$color-white: #fff;
$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$frst-gradient-color: #1558a6;
$scnd-gradient-color: #03479c;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999 !default;

