/// Known Colors Variables From Design Handover ///
$hbcp-blue: #377bbb;
$pale-blue: #A7D0FF;
$btn-shadow: #01459b;
$blue: #0f78d1;
$white: #fff;
$pill-tag: #f3f3f3;
$gray: #4A4A4A;
$gray-light: #9b9b9b;
$gray-border: #ccc;
$gray-lighter: #FAFAFA;
$behaviour: #F16C20;
$mechanisms: #C02E1D;
$intervention: #D3B43D;
$context: #A2B86C;
$exposure: #1395BA;
$outcome: $hbcp-blue;

/// Currently unknown colours by dev 2 ///
$drop-heading: #6d6868;
$drop-txt-color: #4a90e2;
$slider-bg: #00619c;
$read-more-color: #0c66b3;
$border-solid-color: #d2d2d2;
$btn-hover: #8bc3f3;
$color-lightblue: #316eb4;
$border-color: #ccc;
$light-black: #333333;
$border-panel-color: #ddd;
$gray-bg-color: #fafafa;
$res-btn-color: #377bbb;
$p-bg: #175aa7;
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);
$frst-gradient-color: #1558a6;
$scnd-gradient-color: #03479c;
$width-default: 220px; // 3 960px-grid columns
$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999;

$font-size_base: 16px;

@mixin hbcp-button {
  background-color: $hbcp-blue;
  color: $white;
  padding: 12px 20px;
  position: relative;
  border: none;
  min-width: 200px;
  box-shadow: 0 4px 0 0 $btn-shadow;
  transition: background-color 350ms, color 350ms;
  font-size: 17px;
  &:hover {
    background: $btn-shadow;
    color: $white;
  }
  &:focus {
    color: $white;
  }
  &:active {
    box-shadow: none;
    transform: translateY(4px);
  }

  @media (max-width: $screen-xs-max) {
    font-size: 15px;
  }
}

@mixin hbcp-jumbotron {
  display: table;
  width: 100%;
  background: 100% 50% no-repeat;
  background-size: cover;
  color: $white;
  border-radius: 0;
  min-height: 200px;
  margin-bottom: 0;

  .jumbotron-valign {
    display: table-cell;
    vertical-align: middle;
  }

  .jumbotron-header,
  .jumbotron-info {
    padding-right: 540px;
  }

  .jumbotron-header {
    display: table;
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    > span {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .jumbotron-info {
    color: $pale-blue;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
  }

  .jumbotron-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    width: 123px;
    height: auto;
    margin-top: -62px;
  }

  .jumbotron-text {
    padding: 0;
  }

  @media (max-width: $screen-md-min) {
    min-height: 0;
    padding: 0;
    background: linear-gradient(-18deg, $hbcp-blue 20%, $btn-shadow 100%) !important;

    .jumbotron-info {
      background: rgba($btn-shadow, .5);
      margin: 0;
      font-size: 16px;
      padding: 30px 25px;
    }
    .jumbotron-header {
      padding-left: 25px;
      padding-right: 213px;
      min-height: 163px;
      margin: 20px 0;
    }
    h2 {
      font-size: 28px;
    }
  }
  @media (max-width: $screen-sm-min) {
    .jumbotron-icon {
      width: 83px;
      margin-top: -41px;
    }
    .jumbotron-header {
      font-size: 18px;
      padding-right: 140px;
      min-height: 83px;
    }
    .jumbotron-info {
      font-size: 14px;
    }
  }
  @media (max-width: $screen-xs-min) {
    .jumbotron-header {
      font-size: 16px;
    }
    .jumbotron-info {
      font-size: 13px;
    }
  }
}

@mixin hbcp-jumbotron-behaviour {
  background-image: url('/bundles/app/images/bg-bs-header.png');
  .jumbotron-icon {
    width: 160px;
    margin-top: -62px;
  }
  @media (max-width: $screen-sm-min) {
    .jumbotron-icon {
      width: 95px;
      margin-top: -37px;
    }
  }
}

@mixin tab-text {
  font-size: 18px;
  color: $gray-light;
}
